@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1630856727482') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e71b";
}

.icon-weibo:before {
  content: "\e690";
}

.icon-weixin:before {
  content: "\e776";
}

.icon-wangyi:before {
  content: "\e60c";
}

